@page "/{UrlSuffix}"
@using Newtonsoft.Json;
@using System.ComponentModel.DataAnnotations
@using GC = FrontendLogin.GlobalConstants;
@using Common.DTO.Base;
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject IHttpContextAccessor HttpContextAccessor
@inject LabelService LS
@inject IJSRuntime JS

<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 12px;">
        
        @if (options != null)
        {
            <h3 class="text-center mb-4">@options.Icon @options.Code</h3>
        }

        <h4 class="text-center mb-4">@GetLabel("Login")</h4>

            <EditForm Model="@loginRequest" OnValidSubmit="@HandleLogin">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger mb-3" />

                <div class="mb-3">
                    <label class="form-label">@GetLabel("UserName")</label>
                    <InputText class="form-control" @bind-Value="loginRequest.UserName" />
                </div>

                @if (options != null && options.Masquerade)
                {
                    <div class="mb-3">
                        <label class="form-label">@GetLabel("UserNameM")</label>
                        <InputText class="form-control" @bind-Value="loginRequest.Masquerade" />
                    </div>
                }

                <div class="mb-3">
                    <label class="form-label">@GetLabel("PW")</label>
                    <InputText class="form-control" @bind-Value="loginRequest.Password" Type="password" />
                </div>
                <div class="mb-3">
                <label class="form-label">@GetLabel("Org")</label>
                    <InputSelect class="form-select" @bind-Value="loginRequest.Org">
                        <option value="">-- Select Org --</option>
                        @foreach (var org in OrgList)
                        {
                            <option value="@org.Nr">@org.Name</option>
                        }
                    </InputSelect>
                </div>

                <div class="mb-3">
                    <label class="form-label">@GetLabel("Lang")</label>
                    <InputSelect class="form-select" @bind-Value="loginRequest.LangCode">
                        <option value="">-- Select Language --</option>
                        @foreach (var lang in LangList)
                        {
                            <option value="@lang.Code">@lang.Name</option>
                        }
                    </InputSelect>
                </div>

                
                <div class="mt-3 mb-3">
                    <label class="form-label"></label>
                    <button type="submit" class="btn btn-primary w-100">
                        @GetLabel("Login")
                    </button>
                </div>


            </EditForm>
                
            @if (options != null && options.RememberMe)
            {
                <div class="mb-2">
                    <InputCheckbox class="form-check-input" @bind-Value="loginRequest.RememberMe" id="rememberMe" />
                    <label class="form-check-label" for="rememberMe">@GetLabel("RemMe")</label>
                </div>
            }
            @if (options != null && options.Forgot)
            {
                <div class="mb-2">
                    <button type="button" class="btn btn-link p-0" @onclick="GoToForgot">
                        @GetLabel("ForgotUP")
                    </button>
                </div>
            }
        @if (options != null && options.SelfRegistration)
        {
            <div class="mb-2">
                <button type="button" class="btn btn-link p-0" @onclick="GoToSelfRegistration">
                    @GetLabel("SignUp")
                </button>
            </div>
        }

        @if (showForgotModal)
        {
            <div style="
                position:fixed;
                top:0;left:0;right:0;bottom:0;
                background:rgba(0,0,0,0.5);
                display:flex;
                justify-content:center;
                align-items:center;
                z-index:9999;
                ">
                <div style="background:white;padding:20px;border-radius:8px;width:300px;">

                    <h5>@GetLabel("PWReset")</h5>

                    <div class="mb-2">
                        <label>@GetLabel("PWReset0")</label>
                        <input class="form-control" @bind="forgotEmail" />
                    </div>

                    <div class="mt-3 d-flex justify-content-end gap-2">
                        <button class="btn btn-secondary" @onclick="CloseForgotModal">
                            @GetLabel("Cancel")
                        </button>

                        <button class="btn btn-primary" @onclick="SubmitForgot">
                            @GetLabel("Send")
                        </button>
                    </div>

                </div>
            </div>
        }

        @if (showForgotSent)
        {
            <div style="
                position:fixed;
                top:0;left:0;right:0;bottom:0;
                background:rgba(0,0,0,0.5);
                display:flex;
                justify-content:center;
                align-items:center;
                z-index:9999;
                ">
                <div style="background:white;padding:20px;border-radius:8px;width:300px;">

                    <h5>@GetLabel("PWResetES")</h5>
                    <p>@((MarkupString)forgotModalMessage)</p>
                    <div class="mt-3 d-flex justify-content-end gap-2">
                        <button class="btn btn-secondary" @onclick="CloseForgotModal">
                            @GetLabel("Close")
                        </button>
                    </div>

                </div>
            </div>
        }

        @if (showSignUpModal)
        {
            <div style="
                position:fixed;
                top:0;left:0;right:0;bottom:0;
                background:rgba(0,0,0,0.5);
                display:flex;
                justify-content:center;
                align-items:center;
                z-index:9999;">

                <div style="background:white;padding:20px;border-radius:8px;width:400px;">

                    <h5>@GetLabel("SignUp")</h5>

                    <EditForm Model="@signupRequest" OnValidSubmit="SubmitSignup">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-2">
                            <label>@GetLabel("UserName")</label>
                            <InputText class="form-control"
                                       @bind-Value="signupRequest.UserName" />
                        </div>

                        <div class="mb-2">
                            <label>@GetLabel("Email")</label>
                            <InputText class="form-control"
                                       @bind-Value="signupRequest.Email" />
                        </div>

                        <div class="mb-2">
                            <label>@GetLabel("PW")</label>
                            <InputText class="form-control" @bind-Value="signupRequest.Password" type="@passwordInputType"/>
                        </div>

                        <div class="mb-2">
                            <label>@GetLabel("PWc")</label>
                            <InputText class="form-control" @bind-Value="signupRequest.ConfirmPassword" type="@passwordInputType" />
                        </div>

                        <ReCaptcha @ref="_captcha" SiteKey="@SiteKey" />
                        <br />

                        <div class="form-check mb-2">
                            <InputCheckbox class="form-check-input" @bind-Value="showPassword" id="showPassword" />
                            <label class="form-check-label" for="showPassword">@GetLabel("PWsw")</label>
                        </div>

                        <div class="mb-3">
                            <p class="text-danger">@((MarkupString)signupMessage)</p>
                        </div>

                        <div class="mt-3 d-flex justify-content-end gap-2">
                            <button type="button"
                                    class="btn btn-secondary"
                                    @onclick="CloseSignupModal">
                                @GetLabel("Cancel")
                            </button>

                            <button type="submit"
                                    class="btn btn-primary">
                                @GetLabel("SignUp")
                            </button>
                        </div>

                    </EditForm>

                    <div class="mb-2">
                        <button type="button" class="btn btn-link p-0" @onclick="ShowRules">
                            @GetPasswordRulesLabel()
                        </button>
                    </div>

                    <p class="small">@((MarkupString)rules)</p>

                </div>
            </div>
        }

        @if (showSignUpSuccess)
        {
            <div style="
                position:fixed;
                top:0;left:0;right:0;bottom:0;
                background:rgba(0,0,0,0.5);
                display:flex;
                justify-content:center;
                align-items:center;
                z-index:9999;">

                <div style="background:white;padding:20px;border-radius:8px;width:350px;">

                    <p>@((MarkupString)signupMessage)</p>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-secondary"
                                @onclick="CloseSignupModal">
                            @GetLabel("Close")
                        </button>
                    </div>

                </div>
            </div>
        }

        @if (showQr)
        {
            <div class="mt-4 text-center">
                <h5>@GetLabel("Mfa1")</h5>

                <img src="@qrCodeBase64" style="width:200px;height:200px;" />

                <p class="mt-2">@GetLabel("Mfa2"):<br />
                    <b>@manualKey</b>
                </p>
            </div>
        }

        @if (showMfaInput)
        {
            <div class="mt-3">
                <label>@GetLabel("Mfa3"):</label>

                <InputText @bind-Value="mfaCode" class="form-control" />

                <button type="button" class="btn btn-success mt-2" @onclick="VerifyMfa">
                    @GetLabel("Verify")
                </button>
            </div>
        }
            
        <p class="small">@((MarkupString)successMessage)</p>
        <p class="small text-danger">@((MarkupString)errorMessage)</p>
        <p>@tokenkey</p>
        <p>@token</p>
        <p>@cookie</p>
    </div>
</div>


@code {

    [Parameter]
    public string UrlSuffix { get; set; }

    private LoginRequest loginRequest = new LoginRequest
    {
        LangCode = "en",
        SourceApplication = GC.AppClient
    };
    private string errorMessage = string.Empty;
    private string successMessage = string.Empty;
    private bool isDev = false;

    private string tokenkey;
    private string token;
    private bool autoLogin = false;
    private bool navigateToMain = false;
    private string autoOpen = string.Empty;
    private LoginOptionDto options;
    private List<OrgItem> OrgList = new List<OrgItem>();
    private List<LangItem> LangList = new List<LangItem>();
    private Dictionary<string, LangLabelDto> labels = new Dictionary<string, LangLabelDto>();

    //Fogot Password
    private bool showForgotModal = false;
    private bool showForgotSent = false;
    private string forgotEmail = "";
    private string forgotModalMessage = "";

    //MFA
    private string qrCodeBase64;
    private bool showQr = false;
    private string manualKey;
    private string mfaCode;
    private bool showMfaInput = false; // for future use if no QR

    // Self Registration
    private bool showSignUpModal = false;
    private bool showSignUpSuccess = false;
    private bool showRules = false;
    private bool showPassword = false;
    private string rules = string.Empty;
    private SignupRequest signupRequest;
    private string signupMessage = "";

    //Not a Robot
    private ReCaptcha _captcha;
    private string SiteKey = "6LfX7VstAAAAAPIBO5h0cDYzxGmQ1D81nnyr6p5s";
    private RobotModel _robotModel = new();

    private string cookie;

    private async Task HandleLogin()
    {
        try
        {
            errorMessage = string.Empty;
            successMessage = string.Empty;

            var login = await LoginToBlue(GC.URL_login);

            if (login == null)
                return;

            //MFA is an extra step
            if (login.IsMfaRequired)
            {
                await MfaCheck(login);
                return;
            }

            //Web clients
            if (navigateToMain)
            {
                NavigateToMain(login);
                return;
            }

            //API clients just get the token
            await GetAndDisplayToken(login.TokenKey);

        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    //Call the API with the login credentials (and the MFA code if applicable) 
    private async Task<LoginSuccessDto?> LoginToBlue(string url)
    {
        try
        {
            var isMfa = url == GC.URL_mfa_verify;
            errorMessage = "";

            //Use JS interop to call the login function in wwwroot/login.js, which uses fetch with 'credentials: include' to allow cookies (for MFA flow)
            var client = HttpClientFactory.CreateClient(GC.HTTP_Client);
            var urlX = client.BaseAddress.ToString() + url;
            var responseDto = await JS.InvokeAsync<_ResponseDto>(
                "login",
                urlX,
                loginRequest);


            // var response = await client.PostAsJsonAsync(url, loginRequest);
            // if (!response.IsSuccessStatusCode)
            // {
            //     errorMessage = isMfa ? "Invalid MFA code" : "Invalid username or password";
            //     return null;
            // }
            // var json = await response.Content.ReadAsStringAsync();
            // var responseDto = JsonConvert.DeserializeObject<_ResponseDto>(json);


            if (!responseDto.Valid)
            {
                errorMessage = responseDto.ErrorMessage;
                return null;
            }

            var login = JsonConvert.DeserializeObject<LoginSuccessDto>(responseDto.Result.ToString());
            successMessage = responseDto.SuccessMessage;

            return login;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            return null;
        }
    }

    private void NavigateToMain(LoginSuccessDto login)
    {
        NavigationManager.NavigateTo(login.MainUrl
                               //Use fragments
                               + "#tk=" + login.TokenKey   
                               + (string.IsNullOrEmpty(autoOpen) ? "" : "&open=" + autoOpen)
                               + ("&urlLogin=" + AppSettings.Urls.Login + UrlSuffix),
                               true);
    }

    private string GetLabel(string key)
    {
        return LS.GetLabel(key, labels, isDev);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (autoLogin)
        {
            autoLogin = false; 
            HandleLogin();
        }
    }

    //For API login's, display the bearer token
    private async Task GetAndDisplayToken(string key)
    {
        tokenkey = key;
        var client = HttpClientFactory.CreateClient(GC.HTTP_Client);
        var tokenResponse = await client.GetAsync(GC.URL_token + "?key=" + key);
        token = await tokenResponse.Content.ReadAsStringAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        cookie = GetRememberMeCookie(GC.Cookie_RememberMe + $"{UrlSuffix}");

        var url = GC.URL_login_option + $"{UrlSuffix}";
        if (!string.IsNullOrEmpty(cookie))
            url += "?encryptedCookie=" + cookie;

        var client = HttpClientFactory.CreateClient(GC.HTTP_Client);
        var response = await client.GetAsync(url);
        var r = await response.Content.ReadAsStringAsync();
        var dto = JsonConvert.DeserializeObject<_ResponseDto>(r);

        options = JsonConvert.DeserializeObject<LoginOptionDto>(dto.Result.ToString());

        initialiseMfaInput();
        initialiseSignupRequest();

        cookie = options.RememberMeCookie;
        navigateToMain = options.SuccessAction == GC.NavigateToFrontendServer;

        //labels = await InitialiseLabels(options);
        labels = await LS.InitialiseLabels(options.LangCode, options.LangLabelVariant);

        //Load organisation options
        OrgList = new List<OrgItem>();
        foreach (var o in options.Orgs)
        {
            OrgList.Add(new OrgItem
                {
                    Nr = o.Nr,
                    Name = o.Code + (!string.IsNullOrEmpty(o.Description) ? " - " + o.Description : "")
                });
        }

        //Load langauge options
        LangList = new List<LangItem>();
        foreach (var o in options.LangCodes)
        {
            LangList.Add(new LangItem
            {
                Code = o.Code,
                Name = o.Description
            });
        }

        loginRequest.UrlSuffix = UrlSuffix;
        loginRequest.Org = int.Parse(options.Orgs[0].Nr.ToString());

        // Parse the URL query string
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        // Get a specific query parameter value
        if (query.TryGetValue("u", out var user))
            loginRequest.UserName = user.ToString();
        if (query.TryGetValue("p", out var pw))
            loginRequest.Password = pw.ToString();
        if (query.TryGetValue("o", out var org))
            loginRequest.Org = int.Parse(org.ToString());
        if (query.TryGetValue("l", out var langCode))
            loginRequest.LangCode = langCode.ToString();
        if (query.TryGetValue("auto", out var autoX))
            autoLogin = autoX.ToString().Trim().StartsWith("t");
        if (query.TryGetValue("open", out var openX))
            autoOpen = openX.ToString();

        if (!loginRequest.IsPopulated())
            getEnvironmentVariables();


        //Reset cookie if RememberMe is not checked
        if (!options.RememberMe)
            cookie = null;

        //The remember me cookie overrides all other inputs 
        if (string.IsNullOrEmpty(cookie))
            return;

        parseCookie(cookie);
    }
       

    /**
     * Passed in parameters via launchSettings.json
     * For DEVELOPMENT ONLY
     */
    private void getEnvironmentVariables()
    {
        var dev = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
        if (string.IsNullOrEmpty(dev)
            || !dev.Equals("Development"))
            return;

        isDev = true;

        var user = Environment.GetEnvironmentVariable("USER");
        loginRequest.UserName = user.ToString();

        var pw = Environment.GetEnvironmentVariable("PASSWORD");
        loginRequest.Password = pw.ToString();

        var org = Environment.GetEnvironmentVariable("ORG");
        loginRequest.Org = int.Parse(org.ToString());

        var langCode = Environment.GetEnvironmentVariable("LANGCODE");
        loginRequest.LangCode = langCode.ToString();

        var autoValue = Environment.GetEnvironmentVariable("AUTO");
        autoLogin = autoValue?.Trim().ToLower() == "true";

        var openValue = Environment.GetEnvironmentVariable("OPEN");
        autoOpen = openValue?.ToString();
    }

    private async Task TestPause()
    {
        await Task.Delay(3000);
    }

    
    public class OrgItem
    {
        public int Nr { get; set; }
        public string Name { get; set; }
    }

    public class LangItem
    {
        public string Code { get; set; }
        public string Name { get; set; }
    }
}