@page "/{UrlSuffix}"
@using Newtonsoft.Json;
@using GC = FrontendLogin.GlobalConstants;
@using Common.DTO.Base;
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JS

<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 12px;">
        
        <h3 class="text-center mb-4">🔐 Login</h3>

            <EditForm Model="@loginRequest" OnValidSubmit="@HandleLogin">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger mb-3" />

                <div class="mb-3">
                    <label>Username:</label>
                    <InputText @bind-Value="loginRequest.Username" />
                </div>
                <div class="mb-3">
                    <label>Password:</label>
                    <InputText @bind-Value="loginRequest.Password" Type="password" />
                </div>
                <div class="mb-3">
                    <label>Org:</label>
                    <InputSelect class="form-select" @bind-Value="loginRequest.Org">
                        <option value="">-- Select Org --</option>
                        @foreach (var org in OrgList)
                        {
                            <option value="@org.Nr">@org.Name</option>
                        }
                    </InputSelect>
                </div>

                <div class="mb-3">
                    <label>Language:</label>
                    <InputSelect class="form-select" @bind-Value="loginRequest.LangCode">
                        <option value="">-- Select Language --</option>
                        @foreach (var lang in LangList)
                        {
                            <option value="@lang.Code">@lang.Name</option>
                        }
                    </InputSelect>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Login
                </button>

                
            @if (options != null && options.RememberMe)
            {
                <div class="form-check mb-2">
                    <InputCheckbox class="form-check-input" @bind-Value="loginRequest.RememberMe" id="rememberMe" />
                    <label class="form-check-label" for="rememberMe">Remember Me</label>
                </div>
            }
            @if (options != null && options.Forgot)
            {
                <div class="form-check mb-2">
                    <InputCheckbox class="form-check-input" @bind-Value="options.Forgot" id="useSSO" />
                    <label class="form-check-label" for="useSSO">Forgot</label>
                </div>
            }

            @if (showQr)
            {
                <div class="mt-4 text-center">
                    <h5>Scan with Microsoft Authenticator</h5>

                    <img src="@qrCodeBase64" style="width:200px;height:200px;" />

                    <p class="mt-2">
                        Or enter this key manually:<br />
                        <b>@manualKey</b>
                    </p>
                </div>
            }

            @if (showMfaInput)
            {
                <div class="mt-3">
                    <label>Enter code from Microsoft Authenticator:</label>

                    <InputText @bind-Value="mfaCode" class="form-control" />

                    <button type="button" class="btn btn-success mt-2" @onclick="VerifyMfa">
                        Verify
                    </button>
                </div>
            }

            </EditForm>

        <p>@successMessage</p>
        <p>@errorMessage</p>
        <p>@tokenkey</p>
        <p>@token</p>
        <p>@cookie</p>
    </div>
</div>


@code {

    [Parameter]
    public string UrlSuffix { get; set; }

    private LoginRequest loginRequest = new LoginRequest
    {
        LangCode = "en",
        SourceApplication = GC.AppClient
    };
    private string errorMessage = string.Empty;
    private string successMessage = string.Empty;


    private string tokenkey;
    private string token;
    private bool autoLogin = false;
    private bool navigateToMain = false;
    private string autoOpen = string.Empty;
    private LoginOptionDto options;
    private List<OrgItem> OrgList = new List<OrgItem>();
    private List<LangItem> LangList = new List<LangItem>();

    //MFA
    private string qrCodeBase64;
    private bool showQr = false;
    private string manualKey;
    private string mfaCode;
    private bool showMfaInput = false; // for future use if no QR

    private string cookie;

    private async Task HandleLogin()
    {
        try
        {
            errorMessage = string.Empty;
            successMessage = string.Empty;

            var login = await LoginToBlue(GC.URL_login);

            if (login == null)
                return;

            //MFA is an extra step
            if (login.MfaRequired)
            {
                await MfaCheck(login);
                return;
            }

            //Web clients
            if (navigateToMain)
            {
                NavigateToMain(login);
                return;
            }

            //API clients just get the token
            await GetToken(login.TokenKey);

        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }

    //Call the API with the login credentials (and the MFA code if applicable) 
    private async Task<LoginSuccessDto?> LoginToBlue(string url)
    {
        try
        {
            var isMfa = url == GC.URL_mfa_verify;
            errorMessage = "";

            //Use JS interop to call the login function in wwwroot/login.js, which uses fetch with 'credentials: include' to allow cookies (for MFA flow)
            var client = HttpClientFactory.CreateClient(GC.HTTP_Client);
            var urlX = client.BaseAddress.ToString() + url;
            var responseDto = await JS.InvokeAsync<_ResponseDto>(
                "login",
                urlX,
                loginRequest);

            //DELETE ME
            // var response = await client.PostAsJsonAsync(url, loginRequest);
            // if (!response.IsSuccessStatusCode)
            // {
            //     errorMessage = isMfa ? "Invalid MFA code" : "Invalid username or password";
            //     return null;
            // }
            // var json = await response.Content.ReadAsStringAsync();
            // var responseDto = JsonConvert.DeserializeObject<_ResponseDto>(json);

            if (!responseDto.Valid)
            {
                errorMessage = responseDto.ErrorMessage;
                return null;
            }

            var login = JsonConvert.DeserializeObject<LoginSuccessDto>(responseDto.Result.ToString());
            successMessage = responseDto.SuccessMessage;

            return login;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            return null;
        }
    }

    private void NavigateToMain(LoginSuccessDto login)
    {
        NavigationManager.NavigateTo(login.MainUrl
                               //Use fragments
                               + "#tk=" + login.TokenKey   
                               + (string.IsNullOrEmpty(autoOpen) ? "" : "&open=" + autoOpen)
                               + ("&urlLogin=" + AppSettings.LoginClientUrl + "/" + UrlSuffix),
                               true);
    }


    private async Task TestPause()
    {
        await Task.Delay(3000);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (autoLogin)
        {
            autoLogin = false; 
            HandleLogin();
        }
    }

    //For API login's, display the bearer token
    private async Task GetToken(string key)
    {
        tokenkey = key;
        var client = HttpClientFactory.CreateClient(GC.HTTP_Client);
        var tokenResponse = await client.GetAsync(GC.URL_token + "?key=" + key);
        token = await tokenResponse.Content.ReadAsStringAsync();
    }

    private string GetRememberMeCookie(string cookie)
    {
        try
        {
            HttpContextAccessor.HttpContext.Request.Cookies.TryGetValue(cookie, out var value);
            return value;
        }
        catch
        {
            return null;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        cookie = GetRememberMeCookie(GC.Cookie_RememberMe + $"{UrlSuffix}");

        var client = HttpClientFactory.CreateClient(GC.HTTP_Client);
        var response = await client.GetAsync(GC.URL_login_option + $"{UrlSuffix}");
        var r = await response.Content.ReadAsStringAsync();
        var dto = JsonConvert.DeserializeObject<_ResponseDto>(r);

        options = JsonConvert.DeserializeObject<LoginOptionDto>(dto.Result.ToString());

        navigateToMain = options.SuccessAction == GC.NavigateToFrontendServer;

        //Load organisation options
        OrgList = new List<OrgItem>();
        foreach (var o in options.Orgs)
        {
            OrgList.Add(new OrgItem
                {
                    Nr = o.Nr,
                    Name = o.Code + (!string.IsNullOrEmpty(o.Description) ? " - " + o.Description : "")
                });
        }

        //Load langauge options
        LangList = new List<LangItem>();
        foreach (var o in options.LangCodes)
        {
            LangList.Add(new LangItem
            {
                Code = o.Code,
                Name = o.Description
            });
        }

        loginRequest.UrlSuffix = UrlSuffix;
        loginRequest.Org = int.Parse(options.Orgs[0].Nr.ToString());

        // Parse the URL query string
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        // Get a specific query parameter value
        if (query.TryGetValue("u", out var user))
            loginRequest.Username = user.ToString();
        if (query.TryGetValue("p", out var pw))
            loginRequest.Password = pw.ToString();
        if (query.TryGetValue("o", out var org))
            loginRequest.Org = int.Parse(org.ToString());
        if (query.TryGetValue("l", out var langCode))
            loginRequest.LangCode = langCode.ToString();
        if (query.TryGetValue("auto", out var autoX))
            autoLogin = autoX.ToString().Trim().StartsWith("t");
        if (query.TryGetValue("open", out var openX))
            autoOpen = openX.ToString();

        if (!loginRequest.IsPopulated())
            getEnvironmentVariables();


        //Reset cookie if RememberMe is not checked
        if (!options.RememberMe)
            cookie = null;

        //The remember me cookie overrides all other inputs 
        if (string.IsNullOrEmpty(cookie))
            return;
        parseCookie(cookie);
    }

    
    
    private void parseCookie(string cookie)
    {
        if (string.IsNullOrWhiteSpace(cookie))
            return;

        loginRequest.RememberMe = true; // if cookie exists, it means RememberMe was checked
        var parts = cookie.Split(',');

        foreach (var part in parts)
        {
            var kv = part.Split('=', 2); // split only once
            if (kv.Length != 2) continue;

            var key = kv[0].Trim();
            var value = kv[1].Trim();

            switch (key)
            {
                case "u":
                    loginRequest.Username = value;
                    break;
                case "p":
                    loginRequest.Password = value;
                    break;
                case "o":
                    loginRequest.Org = int.Parse(value);
                    break;
                case "l":
                    loginRequest.LangCode = value;
                    break;
            }
        }
    }




    /**
     * Passed in parameters via launchSettings.json
     * For DEVELOPMENT ONLY
     */
    private void getEnvironmentVariables()
    {
        var dev = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
        if (string.IsNullOrEmpty(dev)
            || !dev.Equals("Development"))
            return;

        var user = Environment.GetEnvironmentVariable("USER");
        loginRequest.Username = user.ToString();

        var pw = Environment.GetEnvironmentVariable("PASSWORD");
        loginRequest.Password = pw.ToString();

        var org = Environment.GetEnvironmentVariable("ORG");
        loginRequest.Org = int.Parse(org.ToString());

        var langCode = Environment.GetEnvironmentVariable("LANGCODE");
        loginRequest.LangCode = langCode.ToString();

        var autoValue = Environment.GetEnvironmentVariable("AUTO");
        autoLogin = autoValue?.Trim().ToLower() == "true";

        var openValue = Environment.GetEnvironmentVariable("OPEN");
        autoOpen = openValue?.ToString();
    }

    
    public class OrgItem
    {
        public int Nr { get; set; }
        public string Name { get; set; }
    }

    public class LangItem
    {
        public string Code { get; set; }
        public string Name { get; set; }
    }
}