@page "/reset-password"
@using Newtonsoft.Json;
@using System.ComponentModel.DataAnnotations
@using MudBlazor
@using GC = FrontendLogin.GlobalConstants;
@using Common.DTO.Base;
@inject HttpClient Http
@inject NavigationManager Nav
@inject HttpClient HttpClient
@inject IHttpClientFactory HttpClientFactory
@inject IHttpContextAccessor HttpContextAccessor


<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center justify-center" Style="height:100vh;">
    <MudPaper Elevation="6" Class="pa-6 rounded-lg" Style="width:420px;">

        <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-4">
            Reset Your Password
        </MudText>

        <EditForm Model="_model" OnValidSubmit="HandleResetPassword">
            <DataAnnotationsValidator />
            
            <div class="mb-3">
                <label>New Password:</label>
                <InputText @bind-Value="_model.Password" type="@passwordInputType" />
                <ValidationMessage For="@(() => _model.Password)" />
            </div>

            <div class="mb-3">
                <label>Confirm Password:</label>
                <InputText @bind-Value="_model.ConfirmPassword" type="@passwordInputType" />
                <ValidationMessage For="@(() => _model.ConfirmPassword)" />
            </div>

            <div class="form-check mb-2">
                <InputCheckbox class="form-check-input" @bind-Value="_showPassword" id="showPassword" />
                <label class="form-check-label" for="rememberMe">Show Password</label>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Reset Password
            </button>

        </EditForm>

        @if (!string.IsNullOrWhiteSpace(_message))
        {
            <MudAlert Severity="Severity.Info" Class="mt-4">
                @_message
            </MudAlert>
        }


        <p>@successMessage</p>
        <p>@errorMessage</p>

    </MudPaper>
</MudContainer>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Token { get; set; }


    private ResetPasswordModel _model = new();
    private bool _showPassword;
    private string _message;
    private string errorMessage = string.Empty;
    private string successMessage = string.Empty;

    private InputType passwordInputType =>
        _showPassword ? InputType.Text : InputType.Password;

    private async Task HandleResetPassword()
    {
        if (_model.Password != _model.ConfirmPassword)
        {
            _message = "Passwords do not match.";
            return;
        }

        var action = new LoginResetActionDto
        {
            Token = Token,
            Password = _model.Password
        };

        var client = HttpClientFactory.CreateClient(GC.HTTP_Client);
        var response = await client.PostAsJsonAsync(GC.URL_reset_action, action);
        if (response.IsSuccessStatusCode)
        {
            var result = await response.Content.ReadAsStringAsync();
            var dto = JsonConvert.DeserializeObject<_ResponseDto>(result);

            if (!dto.Valid)
            {
                errorMessage = dto.ErrorMessage;
                return;
            }
            successMessage = dto.SuccessMessage;
            return;
        }
        errorMessage = "Something went wrong!";
    }

    public class ResetPasswordModel
    {
        [Required(ErrorMessage = "Password is required")]
        [MinLength(6, ErrorMessage = "Minimum 6 characters")]
        public string Password { get; set; }

        [Required(ErrorMessage = "Confirm your password")]
        public string ConfirmPassword { get; set; }
    }
}